@import 'bootstrap';

/* sidebar admin */
.menu_admin{
    display: grid;
    position: fixed;
    grid-gap: 1rem;
    width: 20%;
    text-align: center;
    top: 5rem;
}
.menu_admin h1{
    font-size: 3.5rem;
    padding-bottom: 2rem;
}
.menu_admin a{
    text-decoration: none;
    color: #fff;
    height: 2rem;
}
.menu_admin a:hover{
    color: #fff;
}
.menu_admin button{
    padding: 1rem 0rem;
    margin: 0rem 3rem;
    border: none;
    border-radius: 5%;
    background-color: #6c757d;
}
.menu_admin button:hover{
    box-shadow: 2px 2px 4px #000000;
}
/* homepage */
.charts{
    left: 4rem;
    top: 2rem;
    position: relative;
}
/* questionaire et answer admin */
.questions{    
    margin-left: 16rem;
    padding-left: 2rem;
    margin-top: 3rem;
}
.thead{
    color: #fff;
}


