@import 'bootstrap';

/* navbar dashboard */
.nav_bar{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.nav_bar a{    
    text-decoration: none;
    color: #000;
}
/* sidebar admin */
.nav{
    height: 0vh;
}
.menu_admin{
    display: grid;
    position: fixed;
    grid-gap: 1rem;
    width: 20%;
    text-align: center;
    margin-top: 6rem;
}
.menu_admin h1{
    font-size: 3.5rem;
    padding-bottom: 2rem;
}
.menu_admin a{
    text-decoration: none;
    color: #000;
    height: 2rem;
}
.menu_admin a:hover{
    color: #000;
}
.menu_admin button{
    padding: 1rem 0rem;
    margin: 0rem 3rem;
    border: none;
    border-radius: 5%;
}
.menu_admin button:hover{
    box-shadow: 2px 2px 4px #000000;
}
/* page statistic */
.charts{
    margin-left: 20rem;
    margin-top: 4rem;
}
/* questionaire admin */
.questions{    
    margin-left: 16rem;
    padding-left: 2rem;
    margin-top: 4rem;
}


