@import 'bootstrap';
/* login et register */
.head{
    background-color: #CCD9E2;
    color: #fff;
    border: 1px solid #CCD9E2;
    padding: 0.5rem;
}
/* body */
.cont{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family:'Times New Roman', Times, serif;
    color: rgb(40, 81, 133);
}
.big{
    padding-bottom: 2rem;
}

/* sidebar admin */
.menu_admin{
    position: fixed;
    width: 18%;
    text-align: center;
    background-color: #CCD9E2;
    height: 100%;
}
.menu_admin h1{
    font-size: 3.5rem;
    padding-bottom: 2rem;
    margin-top: 5.5rem;
}
.menu_admin button{
    padding: 1rem 0rem;
    margin: 0.5rem 3rem;
    border: none;
    border-radius: 5%;
    width: 60%;
    color: #fff;
}
.menu_admin button:hover{
    box-shadow: 2px 2px 4px #000000;
}
/* homepage */
.charts{
    left: 13rem;
    top: 5.5rem;
    position: absolute;
    height: 0rem;
    width: 85%;
}
/* questionaire et answer admin */
.questions{    
    margin-left: 18rem;
}
.thead{
    background-color: #CCD9E2;
    color: #000;
}
.separator{
    background-color: rgb(40, 81, 133);
    /* background-color: #616161; */
}


